{% extends "base.html" %} 

{% block content %}
<h1>Your shopping cart</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Itemcode</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart %}
            <tr>
                <td>
                    <a href={% url 'show' product.id %}>{{ product.name }}</a>
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.total_price }}</td>
                <td>
                    <form class="form-inline my-2 my-lg-0 float-right col-sm-4" method="POST" action={% url 'delete-from-cart' %}>
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control form-control-sm mr-sm-2 col-sm-4" type="number" max={{ product.count }} min="1" value="1" aria-label="Count"
                                id={{ product.id }}, name="count">
                            <input class="form-control" type="hidden" name="id" value={{ product.id }}>
                            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="submit">Remove</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ sum }}</td>
                <td class="float-right"><b>Total sum: {{ sum }} €</b></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock content %}