{% extends "base.html" %} {% block content %}
<h1>Your shopping cart</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Itemcode</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in cart %}
            <tr>
                <td>
                    <a href="{{BASE_PATH}}/store/{{i.id}}">{{ i.name }}</a>
                </td>
                <td>{{ i.code }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.count }}</td>
                <td>
                    <form class="form-inline my-2 my-lg-0 float-right col-sm-4" method="POST" action={% url 'delete-from-cart' %}>
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control form-control-sm mr-sm-2 col-sm-4" type="number" max={{ i.count }} min="1" value="1" aria-label="Count" id={{ i.id }}, name="count">
                            <input class="form-control" type="hidden" name="id" value={{ i.id }}>
                            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="submit">Remove</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}